In [1]:
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from kerastuner.tuners import RandomSearch

In [20]:
df=pd.read_csv("e:/my_pro_ds/deepleaning/air.txt",sep=",")

In [21]:
df.head()

      T    TM   Tm     SLP     H   VV    V    VM       PM2.5
0   7.4   9.8  4.8  1017.6  93.0  0.5  4.3   9.4  219.720833
1   7.8  12.7  4.4  1018.5  87.0  0.6  4.4  11.1  182.187500
2   6.7  13.4  2.4  1019.4  82.0  0.6  4.8  11.1  154.037500
3   8.6  15.5  3.3  1018.7  72.0  0.8  8.1  20.6  223.208333
4  12.4  20.9  4.4  1017.3  61.0  1.3  8.7  22.2  200.645833

In [22]:
#we havae to predict the pm2.5 this tells us the what is the qulity of air

In [23]:
X=df.iloc[:,:-1]#independent variables
Y=df.iloc[:,-1]# dependent variables

## what are hyper -parameters
#### 1)howmany number of hidden layer
#### 2. howmany no.of neurons we should have in hidden layer
#### 3.learning rate

In [24]:
def build_model(hp):
    model=keras.Sequential()
    for i in range(hp.Int("num_layers",2,20)):
        model.add(layers.Dense(units=hp.Int("units_"+str(i),
                                           min_value=32,
                                           max_value=512,
                                           step=32),
                              activation="relu"))
    model.add(layers.Dense(1,activation="linear"))
    model.compile(
        optimizer=keras.optimizers.Adam(hp.Choice("learning_rate",[1e-2,1e-3,1e-4])),
        loss="mean_absolute_error",
        metrics=["mean_absolute_error"])
    return model

In [25]:
tuner=RandomSearch(
        build_model,
        objective="val_mean_absolute_error",
        max_trials=5,
        executions_per_trial=3,
        directory="narendra33",
        project_name="ai qulity Index")
#objective means"whenever we traing the modelinside that oneparameter we get val_mean_absolute_error

In [26]:
tuner.search_space_summary()

Search space summary
Default search space size: 4
num_layers (Int)
{'default': None, 'conditions': [], 'min_value': 2, 'max_value': 20, 'step': 1, 'sampling': None}
units_0 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
units_1 (Int)
{'default': None, 'conditions': [], 'min_value': 32, 'max_value': 512, 'step': 32, 'sampling': None}
learning_rate (Choice)
{'default': 0.01, 'conditions': [], 'values': [0.01, 0.001, 0.0001], 'ordered': True}

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=7)

In [28]:
Y_test

228    108.208333
88      97.291667
206    165.000000
235     47.041667
357    119.708333
          ...
20     103.000000
55     110.875000
277    184.666667
242     87.875000
262     44.791667
Name: PM2.5, Length: 110, dtype: float64

In [30]:
tuner.search(X_train,Y_train,epochs=2,validation_data=(X_test,Y_test))

Trial 6 Complete [00h 00m 13s]
val_mean_absolute_error: nan

Best val_mean_absolute_error So Far: nan
Total elapsed time: 00h 02m 45s
INFO:tensorflow:Oracle triggered exit

In [31]:
tuner.results_summary()

Results summary
Results in narendra33\ai qulity Index
Showing 10 best trials
Objective(name='val_mean_absolute_error', direction='min')
Trial summary
Hyperparameters:
num_layers: 3
units_0: 32
units_1: 64
learning_rate: 0.0001
units_2: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 4
units_0: 224
units_1: 416
learning_rate: 0.01
units_2: 352
units_3: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 17
units_0: 320
units_1: 448
learning_rate: 0.01
units_2: 64
units_3: 256
units_4: 32
units_5: 32
units_6: 32
units_7: 32
units_8: 32
units_9: 32
units_10: 32
units_11: 32
units_12: 32
units_13: 32
units_14: 32
units_15: 32
units_16: 32
Score: nan
Trial summary
Hyperparameters:
num_layers: 15
units_0: 448
units_1: 192
learning_rate: 0.01
units_2: 192
units_3: 128
units_4: 480
units_5: 128
units_6: 320
units_7: 512
units_8: 160
units_9: 384
units_10: 128
units_11: 480
units_12: 448
units_13: 512
units_14: 224
units_15: 448
units_16: 192
Score: nan
Trial summary
Hyperparameters:
num_layers: 7
units_0: 448
units_1: 160
learning_rate: 0.0001
units_2: 448
units_3: 64
units_4: 96
units_5: 192
units_6: 160
units_7: 448
units_8: 192
units_9: 64
units_10: 160
units_11: 512
units_12: 192
units_13: 480
units_14: 288
units_15: 288
units_16: 448
Score: nan

In [32]:
d=pd.read_csv("e:/my_pro_ds/ml/hoseprice/after.csv")

In [33]:
d.head()

,h_size,society,total_sqft,bath,balcony,Whitefield,Sarjapur Road,Electronic City,Kanakpura Road,Thanisandra,...,Marathahalli,Raja Rajeshwari Nagar,Hennur Road,Bannerghatta Road,7th Phase JP Nagar,Haralur Road,Electronic City Phase II,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,2,5,1056,2.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,4,13,2600,5.0,3.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,5502,1440,2.0,3.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,22,1521,3.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2,5502,1200,2.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [34]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   h_size                          13320 non-null  int64
 1   society                         13320 non-null  int64
 2   total_sqft                      13320 non-null  int64
 3   bath                            13320 non-null  float64
 4   balcony                         13320 non-null  float64
 5   Whitefield                      13320 non-null  int64
 6   Sarjapur  Road                  13320 non-null  int64
 7   Electronic City                 13320 non-null  int64
 8   Kanakpura Road                  13320 non-null  int64
 9   Thanisandra                     13320 non-null  int64
 10  Yelahanka                       13320 non-null  int64
 11  Uttarahalli                     13320 non-null  int64
 12  Hebbal                          13320 non-null  int64
 13  Marathahalli                    13320 non-null  int64
 14  Raja Rajeshwari Nagar           13320 non-null  int64
 15  Hennur Road                     13320 non-null  int64
 16  Bannerghatta Road               13320 non-null  int64
 17  7th Phase JP Nagar              13320 non-null  int64
 18  Haralur Road                    13320 non-null  int64
 19  Electronic City Phase II        13320 non-null  int64
 20  area_type_Carpet  Area          13320 non-null  int64
 21  area_type_Plot  Area            13320 non-null  int64
 22  area_type_Super built-up  Area  13320 non-null  int64
dtypes: float64(2), int64(21)
memory usage: 2.3 MB

In [ ]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split()