In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
t=pd.read_csv("E:\data\giri.csv")

In [4]:
df=t

In [5]:
df.head()

,Unnamed: 0,date,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit
0,0,2013-01-01 00:09:00,Small Business,France,Montana,Medium,322.0,5.0,300.0,96600.0,8694.00,87906.00,80500.0,5.0
1,1,2013-01-01 00:09:00,Government,Canada,Velo,Low,2646.0,120.0,20.0,52920.0,2116.80,50803.20,26460.0,120.0
2,2,2013-01-01 00:09:00,Government,United States of America,VTT,Low,349.0,250.0,350.0,122150.0,4886.00,117264.00,90740.0,250.0
3,3,2013-01-01 00:09:00,Midmarket,United States of America,Paseo,Medium,2931.0,10.0,15.0,43965.0,3077.55,40887.45,29310.0,10.0
4,4,2013-01-01 00:09:00,Small Business,Canada,Montana,Medium,1283.0,5.0,300.0,384900.0,30792.00,354108.00,320750.0,5.0

In [6]:
df.columns

Index(['Unnamed: 0', 'date', 'segment', 'country', 'product', 'discountband',
       'unitssold', 'manufacturingprice', 'saleprice', 'grosssales',
       'discounts', 'sales', 'cogs', 'profit'],
      dtype='object')

In [16]:
df.loc[:, ["unitssold"]]#alows us to access the row by rowname

     unitssold
0        322.0
1       2646.0
2        349.0
3       2931.0
4       1283.0
..         ...
642      570.0
643     1233.0
644      280.0
645     2852.0
646     2797.0

[647 rows x 1 columns]

In [18]:
df.iloc[:4,:4].head()#it allows us to print row and columns

   Unnamed: 0                 date         segment                   country
0           0  2013-01-01 00:09:00  Small Business                    France
1           1  2013-01-01 00:09:00      Government                    Canada
2           2  2013-01-01 00:09:00      Government  United States of America
3           3  2013-01-01 00:09:00       Midmarket  United States of America

In [19]:
df[df["segment"]>4000]

TypeError: '>' not supported between instances of 'str' and 'int'

In [20]:
df.columns

Index(['Unnamed: 0', 'date', 'segment', 'country', 'product', 'discountband',
       'unitssold', 'manufacturingprice', 'saleprice', 'grosssales',
       'discounts', 'sales', 'cogs', 'profit'],
      dtype='object')

In [33]:
df[(df["sales"]>4000) & (df["profit"]==10)]
#df.profit

,Unnamed: 0,date,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit
3,3,2013-01-01 00:09:00,Midmarket,United States of America,Paseo,Medium,2931.0,10.0,15.0,43965.0,3077.55,40887.45,29310.0,10.0
6,6,2013-01-01 00:09:00,Midmarket,Canada,Paseo,High,2470.0,10.0,15.0,37050.0,5187.00,31863.00,24700.0,10.0
7,7,2013-01-01 00:09:00,Government,Canada,Paseo,Medium,2349.0,10.0,7.0,16443.0,822.15,15620.85,11745.0,10.0
14,14,2013-01-01 00:09:00,Small Business,Germany,Paseo,Medium,1123.0,10.0,300.0,336900.0,23583.00,313317.00,280750.0,10.0
17,17,2013-01-01 00:09:00,Government,Germany,Paseo,Medium,2409.0,10.0,7.0,16863.0,1349.04,15513.96,12045.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638,638,2014-01-01 00:12:00,Enterprise,Canada,Paseo,Low,2729.0,10.0,125.0,341125.0,6822.50,334302.50,327480.0,10.0
639,639,2014-01-01 00:12:00,Channel Partners,France,Paseo,Low,1055.0,10.0,12.0,12660.0,253.20,12406.80,3165.0,10.0
640,640,2014-01-01 00:12:00,Channel Partners,Mexico,Paseo,Low,1084.0,10.0,12.0,13008.0,260.16,12747.84,3252.0,10.0
643,643,2014-01-01 00:12:00,Government,Mexico,Paseo,High,1233.0,10.0,20.0,24660.0,2959.20,21700.80,12330.0,10.0
645,645,2014-01-01 00:12:00,Government,Canada,Paseo,Low,2852.0,10.0,350.0,998200.0,19964.00,978236.00,741520.0,10.0

In [35]:
df.iloc[:10,5][5]

' High '

In [45]:
#my mad i am quite

In [46]:
high=df[df["discountband"]==' High ']

In [49]:
df.columns

Index(['Unnamed: 0', 'date', 'segment', 'country', 'product', 'discountband',
       'unitssold', 'manufacturingprice', 'saleprice', 'grosssales',
       'discounts', 'sales', 'cogs', 'profit'],
      dtype='object')

In [64]:
df.loc[high]
#df.loc[:,"sales":"profit"]

ValueError: Cannot index with multidimensional key

In [52]:
df.columns[-3:]

Index(['sales', 'cogs', 'profit'], dtype='object')