In [28]:
import pandas as pd
df=pd.read_csv("E:\data\siva.csv")

In [29]:
df.columns=df.columns.str.replace(" ","")

In [30]:
df.loc[0:10,"Segment":"Sales"]

,Segment,Country,Product,DiscountBand,UnitsSold,ManufacturingPrice,SalePrice,GrossSales,Discounts,Sales
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00"
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00"
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00"
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00"
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00"
5,Government,Germany,Carretera,None,1513.0,$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00"
6,Midmarket,Germany,Montana,None,921.0,$5.00,$15.00,"$13,815.00",$-,"$13,815.00"
7,Channel Partners,Canada,Montana,None,2518.0,$5.00,$12.00,"$30,216.00",$-,"$30,216.00"
8,Government,France,Montana,None,1899.0,$5.00,$20.00,"$37,980.00",$-,"$37,980.00"
9,Channel Partners,Germany,Montana,None,1545.0,$5.00,$12.00,"$18,540.00",$-,"$18,540.00"
10,Midmarket,Mexico,Montana,None,2470.0,$5.00,$15.00,"$37,050.00",$-,"$37,050.00"

In [31]:
df.columns

Index(['Segment', 'Country', 'Product', 'DiscountBand', 'UnitsSold',
       'ManufacturingPrice', 'SalePrice', 'GrossSales', 'Discounts', 'Sales',
       'COGS', 'Profit', 'Date', 'MonthNumber', 'MonthName', 'Year'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Segment             700 non-null    object
 1   Country             700 non-null    object
 2   Product             700 non-null    object
 3   DiscountBand        700 non-null    object
 4   UnitsSold           700 non-null    float64
 5   ManufacturingPrice  700 non-null    object
 6   SalePrice           700 non-null    object
 7   GrossSales          700 non-null    object
 8   Discounts           700 non-null    object
 9   Sales               700 non-null    object
 10  COGS                700 non-null    object
 11  Profit              700 non-null    object
 12  Date                700 non-null    object
 13  MonthNumber         700 non-null    int64
 14  MonthName           700 non-null    object
 15  Year                700 non-null    int64
dtypes: float64(1), int64(2), object(13)
memory usage: 87.6+ KB

In [33]:
df.columns=[s.lower() for s in df.columns]

In [47]:
df.head()

,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit,date,monthnumber,monthname,year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [56]:
df.loc[:,"segment":"product"].applymap(str.lower)

              segment                   country      product
0          government                    canada   carretera
1          government                   germany   carretera
2           midmarket                    france   carretera
3           midmarket                   germany   carretera
4           midmarket                    mexico   carretera
..                ...                       ...          ...
695    small business                    france    amarilla
696    small business                    mexico    amarilla
697        government                    mexico     montana
698        government                    canada       paseo
699  channel partners  united states of america         vtt

[700 rows x 3 columns]

In [78]:
df.discountband=df.discountband.astype("category")

In [96]:
import numpy as np
df["discountband"].replace({" None ":np.nan},inplace=True)
df.dropna()

,segment,country,product,discountband,unitssold,manufacturingprice,saleprice,grosssales,discounts,sales,cogs,profit,date,monthnumber,monthname,year
53,Government,France,Paseo,Low,3945.0,$10.00,$7.00,"$27,615.00",$276.15,"$27,338.85","$19,725.00","$7,613.85",01/01/2014,1,January,2014
54,Midmarket,France,Paseo,Low,2296.0,$10.00,$15.00,"$34,440.00",$344.40,"$34,095.60","$22,960.00","$11,135.60",01/02/2014,2,February,2014
55,Government,France,Paseo,Low,1030.0,$10.00,$7.00,"$7,210.00",$72.10,"$7,137.90","$5,150.00","$1,987.90",01/05/2014,5,May,2014
56,Government,France,Velo,Low,639.0,$120.00,$7.00,"$4,473.00",$44.73,"$4,428.27","$3,195.00","$1,233.27",01/11/2014,11,November,2014
57,Government,Canada,VTT,Low,1326.0,$250.00,$7.00,"$9,282.00",$92.82,"$9,189.18","$6,630.00","$2,559.18",01/03/2014,3,March,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

In [116]:
#df.drop(index=df[df["discountband"]==np.nan].index)
df.discountband.notnull().value_counts()

True     647
False     53
Name: discountband, dtype: int64